/* Styles go here */
.hero-bg {
  width:100%;
  min-height: 600px;
}

.wrap {
  padding-top: 60px;
}

.modules {
    width: 100%;
    height: 200px;
    background:#ddd;
}

.empty-content, .empty-content:before {
    width:35%;
}
.empty-content {
    float:left;
    padding: 20px 30px;
    color: #6d7072;
}
.empty-content:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-image: url("http://placekitten.com/g/1200/1000");
    background-size:cover;
}

.promo-text, .promo-text:before {
    width:30%;
}
.promo-text {
    float:left;
    padding: 20px 30px;
    color: #ebeef3;
    font-size: 90%;
}
.promo-text:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 35%;
    background-color: #191970;
}
.promo-form, .form:before {
    width:35%;
}
.promo-form {
    float:left;
    padding: 20px 30px;
    color: #ebeef3;
    font-size: 90%;
}
.promo-form:before {
    content: '';
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 65%;
    background-color: #337ACC;
}